body {
  /*font-family: "Roboto Mono", monospace;*/
  font-family: "Blippo", fantasy;
  min-height: fill-available;
  background-image: url("https://media.seudinheiro.com/uploads/2019/07/real-d%C3%B3lar.jpg");
  background-color: #000000;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #2f4f4f;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
  font-size: 25px;
}

label {
  color: black;
  font-size: 25px;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: DarkGray;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #ffffff;
}

h1 {
  color: #ffffff;
  font-size: 44px;
  border: 1px solid #ccc;
  border-radius: 1em;
  background-color: #2f4f4f;
}

h2 {
  color: black;
  font-size: 30px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: DarkGray;
}

h3 {
  color: black;
  font-size: 25px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: DarkGray;
}